n8n/Workflow/Cloudinary.json
{
  "name": "Cloudinary",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -60
      ],
      "id": "f81f8778-bb81-4698-8763-2735c112f46f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "mmjx4uynj1nofyy",
        "id": "37"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        60,
        -60
      ],
      "id": "d6e6da81-3206-4e8d-938b-47d2802a05ef",
      "name": "NocoDB",
      "notesInFlow": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "EoIUJqNCKhzLaVvR",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    item.binary.data.fileName = item.json.Pseudo.replace(/ /g, '_') + '.xxx';\n    return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -60
      ],
      "id": "f4c95d1a-0db2-4622-962d-04bc6a5520a7",
      "name": "FileName_Replace",
      "notes": "Remplace le nom du fichier par pseudo.jpg"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/demdlk08x/image/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -60
      ],
      "id": "504c8d81-e999-40fb-ac5f-1c4e39376e33",
      "name": "CloudinaryUpload",
      "credentials": {
        "httpBasicAuth": {
          "id": "HFatyv5xsn0JcNua",
          "name": "Cloudinary"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Photo[0].signedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -60
      ],
      "id": "05e7780a-77d0-41fb-abf2-a2c8132403bc",
      "name": "Charger Image"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Charger Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileName_Replace": {
      "main": [
        []
      ]
    },
    "Charger Image": {
      "main": [
        [
          {
            "node": "FileName_Replace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bed9c7b-b06b-44e8-b925-46be7ffe125d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fed026248e568476fe229ff7637d149c91d62bc4a96e12e3517e469936bb4c6d"
  },
  "id": "ySBjSR8nKosePnD3",
  "tags": []
}