n8n/Workflow/GoogleSheet_to_NocoDB.json
{
  "name": "GoogleSheet_to_NocoDB",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -200
      ],
      "id": "67cdf60c-8a7c-4182-92d3-0374643cfd4a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FaOfn-Dp24IKsWD7OzrRYuEAbLZZeGEqvaCHzynkh3Q",
          "mode": "list",
          "cachedResultName": "NocoDB Heroku",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaOfn-Dp24IKsWD7OzrRYuEAbLZZeGEqvaCHzynkh3Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1251614790,
          "mode": "list",
          "cachedResultName": "Swell Dance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaOfn-Dp24IKsWD7OzrRYuEAbLZZeGEqvaCHzynkh3Q/edit#gid=1251614790"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -520,
        -200
      ],
      "id": "766c5fb9-029c-438d-b2f6-1dff43c2fe0e",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1fb0c3b-5751-4fa0-9ed8-5255dd815f20",
              "leftValue": "={{ $json['Id Animateur Sheet'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        -200
      ],
      "id": "d2d5802b-5f90-4920-a16e-8d8d43a6f243",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.nocodb.com/api/v2/tables/m4v3p6j5sk0itoc/links/cg153mtyl38xiqf/records/ {{ $json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "xc-token",
              "value": "j8qKVVV-dFY0NJuHvhMxJ0gaF3iOc7yFRx9lJIOJ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Id",
              "value": "={{ $json['Id Animateur Sheet'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -200
      ],
      "id": "0d62fcef-3ae6-4884-871f-31c63ce57ca8",
      "name": "Lier Proposition Animateur"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        440,
        -200
      ],
      "id": "1ae5c817-bbe1-4259-bf24-151233de00eb",
      "name": "Wait",
      "webhookId": "742f3cf0-a93f-490e-b5a5-0a4dc8b1a43e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        -220
      ],
      "id": "7f9e482b-0c1a-4137-bef7-a02a5b3cc843",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "m4v3p6j5sk0itoc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=Id Animateur Sheet",
              "fieldValue": "={{ $json['Id Animateur Sheet'] }}"
            },
            {
              "fieldName": "Titre proposition",
              "fieldValue": "={{ $json['Titre de l\\'événement'] }}"
            },
            {
              "fieldName": "Description",
              "fieldValue": "={{ $json.Description }}"
            },
            {
              "fieldName": "Présentiel",
              "fieldValue": "={{ $json['Présentiel'] }}"
            },
            {
              "fieldName": "En ligne",
              "fieldValue": "={{ $json['En ligne'] }}"
            },
            {
              "fieldName": "Adresse ligne 1",
              "fieldValue": "={{ $json['Adresse ligne 1'] }}"
            },
            {
              "fieldName": "Adresse ligne 2",
              "fieldValue": "={{ $json['Adresse ligne 2'] }}"
            },
            {
              "fieldName": "Ville",
              "fieldValue": "={{ $json.Ville }}"
            },
            {
              "fieldName": "Code postal",
              "fieldValue": "={{ $json['Code postal'] }}"
            },
            {
              "fieldName": "Région/Etat/Province",
              "fieldValue": "={{ $json['Région'] }}"
            },
            {
              "fieldName": "Pays",
              "fieldValue": "={{ $json.Pays }}"
            },
            {
              "fieldName": "Info d'accès",
              "fieldValue": "={{ $json['Infos d\\'accès'] }}"
            },
            {
              "fieldName": "Tarif normal",
              "fieldValue": "={{ $json['Tarif normal'] ? parseFloat($json['Tarif normal']) : 0 }}"
            },
            {
              "fieldName": "Tarif réduit",
              "fieldValue": "={{ $json['Tarif réduit'] ? parseFloat($json['Tarif réduit']) : 0 }}"
            },
            {
              "fieldName": "Proposition URL",
              "fieldValue": "={{ $('Google Sheets').item.json['Proposition URL'] }}"
            },
            {
              "fieldName": "Proposition Image",
              "fieldValue": "={{ $('Google Sheets').item.json['Proposition Image'] }}"
            },
            {
              "fieldName": "Proposition Image URL",
              "fieldValue": "={{ $('Google Sheets').item.json['Proposition Image URL'] }}"
            },
            {
              "fieldName": "GPS",
              "fieldValue": "={{ $json.GPS }}"
            },
            {
              "fieldName": "Gratuit",
              "fieldValue": "={{ $json['Gratuit séance découverte'] }}"
            },
            {
              "fieldName": "Danse libre",
              "fieldValue": "={{ $('Google Sheets').item.json.Danse }}"
            },
            {
              "fieldName": "Date de début",
              "fieldValue": "={{ $json[\"Date début\"].split(\"/\")[1] + \"/\" + $json[\"Date début\"].split(\"/\")[0] + \"/\" + $json[\"Date début\"].split(\"/\")[2] }}\n"
            },
            {
              "fieldName": "Date de fin",
              "fieldValue": "={{ $json[\"Date fin\"].split(\"/\")[1] + \"/\" + $json[\"Date fin\"].split(\"/\")[0] + \"/\" + $json[\"Date fin\"].split(\"/\")[2] }}"
            },
            {
              "fieldName": "Heure de début",
              "fieldValue": "={{ $json[\"Heure début\"] != \"\" ? $json[\"Heure début\"] : \"00:00\" }}"
            },
            {
              "fieldName": "Heure de fin",
              "fieldValue": "={{ $json[\"Heure fin\"] != \"\" ? $json[\"Heure fin\"] : \"00:00\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -60,
        -220
      ],
      "id": "5b315ddf-9509-4fd4-b7be-b8bca2df4dd9",
      "name": "Créer des Propositions"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "mmjx4uynj1nofyy",
        "id": "={{ $('Loop Over Items').item.json['Id Animateur Sheet'] }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        880,
        -200
      ],
      "id": "6a37d9dc-da66-4ea1-b1db-81ab5a8844d7",
      "name": "Photo Animateur"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "m4v3p6j5sk0itoc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Proposition Image",
              "fieldValue": "={{ $json.Photo }}"
            },
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Wait').item.json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1100,
        -200
      ],
      "id": "98290d6b-bebf-48ec-b18b-0b9f7e43d438",
      "name": "MAJ Image Proposition"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Créer des Propositions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lier Proposition Animateur": {
      "main": [
        [
          {
            "node": "Photo Animateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Lier Proposition Animateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer des Propositions": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photo Animateur": {
      "main": [
        [
          {
            "node": "MAJ Image Proposition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAJ Image Proposition": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e8af61e-0406-4e9e-b2dc-776b8b263c01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6ca025f2a03a8c8c108b600b7fd5dadbb42ac9f9a03b112411407609011c128"
  },
  "id": "Rq59AokQC2KrjOjM",
  "tags": []
}