n8n/Workflow/MembresPhotoToCloudinary.json
{
  "name": "MembresPhotoToCloudinary",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -60
      ],
      "id": "2471e2d1-2970-4716-b189-bb7020281b87",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -40,
        -60
      ],
      "id": "cc9982ea-8281-46df-902b-f04bda92ae7f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        -60
      ],
      "id": "c9b229d3-ad23-45a4-a03c-6509107da7f2",
      "name": "Wait",
      "webhookId": "6aa59839-f079-42f5-b7d9-969469339f4f"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "mmjx4uynj1nofyy",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -260,
        -60
      ],
      "id": "6cf74fd4-c6d0-4bf5-8ecf-078b84c68960",
      "name": "MembreGet",
      "credentials": {
        "nocoDbApiToken": {
          "id": "HY4xuOeBfJFQsoNz",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "mmjx4uynj1nofyy",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=Id",
              "fieldValue": "={{ $('If').item.json.Id }}"
            },
            {
              "fieldName": "Cloudy_URL",
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        860,
        -80
      ],
      "id": "2b54e4b0-b2a0-4131-8c95-4c30986fc93f",
      "name": "MembreUpdate",
      "credentials": {
        "nocoDbApiToken": {
          "id": "HY4xuOeBfJFQsoNz",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c5a781b-e531-4f7e-814e-70aee063bedf",
              "leftValue": "={{ $json.Cloudy_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        -60
      ],
      "id": "7ece02b1-4db6-4940-bc86-c231c7cf8ce0",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/demdlk08x/image/upload",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json['Photo URL'] }}"
            },
            {
              "name": "upload_preset",
              "value": "Mode_unsigned"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -80
      ],
      "id": "18e8b795-015b-4fa2-89e9-5e86c22a8537",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MembreGet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MembreGet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MembreUpdate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "MembreUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ff3a53c-c1a3-40b0-a55b-08e4a33057cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6ca025f2a03a8c8c108b600b7fd5dadbb42ac9f9a03b112411407609011c128"
  },
  "id": "2c5qFRQUK1N9c7xC",
  "tags": []
}