n8n/Workflow/PropositionsUploadPhotoToImage.json
{
  "name": "PropositionsUploadPhotoToImage",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -380
      ],
      "id": "d13475b8-d2e0-4b1e-a0f5-9484f371bf52",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        -380
      ],
      "id": "0eabebb4-068e-438f-b3ec-18f705b133ab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "m4v3p6j5sk0itoc",
        "id": "={{ $json.Id }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        340,
        -380
      ],
      "id": "987a4c37-ea74-400d-b546-ba95b9a11025",
      "name": "PropositionGet",
      "credentials": {
        "nocoDbApiToken": {
          "id": "HY4xuOeBfJFQsoNz",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02a3225f-7d69-4dec-9d19-4f633cd30fea",
              "leftValue": "={{ $json['Image URL'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -380
      ],
      "id": "86b7843d-d556-4a47-8ca7-8dd78c9ff4f6",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "m4v3p6j5sk0itoc",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -140,
        -380
      ],
      "id": "9089e2fc-f2b0-470e-92c4-5151cec0e6a4",
      "name": "PropositionGetAll",
      "credentials": {
        "nocoDbApiToken": {
          "id": "HY4xuOeBfJFQsoNz",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "mmjx4uynj1nofyy",
        "id": "={{ $json['Animateur Id'] }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        800,
        -380
      ],
      "id": "52ed6f29-206a-4661-bed9-60f266dabf26",
      "name": "MemberGet",
      "credentials": {
        "nocoDbApiToken": {
          "id": "HY4xuOeBfJFQsoNz",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "m4v3p6j5sk0itoc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('PropositionGet').item.json.Id }}"
            },
            {
              "fieldName": "Image URL",
              "fieldValue": "={{ $json.Cloudy_URL }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1020,
        -380
      ],
      "id": "c5b55606-9277-4ca6-9ec8-f9bb4c599f97",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "HY4xuOeBfJFQsoNz",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        -380
      ],
      "id": "382fb380-3de3-4da9-8a39-3ac14e58d43e",
      "name": "Wait",
      "webhookId": "76a2a125-956b-4608-a15e-1c8ed757ad58"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "PropositionGetAll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "PropositionGet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PropositionGet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PropositionGetAll": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MemberGet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MemberGet": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3716cf10-7bc4-47ff-bd5b-69d3e9b321c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6ca025f2a03a8c8c108b600b7fd5dadbb42ac9f9a03b112411407609011c128"
  },
  "id": "Miv3wRpRoMgMSZnO",
  "tags": []
}