n8n/Workflow/Upload_les_evts_d_un_membre.json
{
  "name": "Upload les evts d'un membre",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -40
      ],
      "id": "bc073186-ee32-4548-96df-15a24505ba06",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "mmjx4uynj1nofyy",
        "id": "67"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -120,
        -40
      ],
      "id": "26b19298-ed61-46b6-b6ce-46a5644b786a",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "EoIUJqNCKhzLaVvR",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn  [{\"Id\":  4079},{ \"Id\": 4080},{ \"Id\": 4081},{ \"Id\": 4082},{ \"Id\": 4083},{ \"Id\": 4084},{ \"Id\": 4085},{ \"Id\": 4086},{ \"Id\": 4087},{ \"Id\": 4088},{ \"Id\": 4089},{ \"Id\": 4090},{ \"Id\": 4091},{ \"Id\": 4092},{ \"Id\": 4093},{ \"Id\": 4094},{ \"Id\": 4095},{ \"Id\": 4096},{ \"Id\": 4097},{ \"Id\": 4098},{ \"Id\": 4099},{ \"Id\": 4100},{ \"Id\": 4101},{ \"Id\": 4102},{ \"Id\": 4103},{ \"Id\": 4104},{ \"Id\": 4105},{ \"Id\": 4106},{ \"Id\": 4107},{ \"Id\": 4108},{ \"Id\": 4109},{ \"Id\": 4110}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -40
      ],
      "id": "86b67e0b-64d5-49f1-b93b-f63c9282fc8e",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": "w232pic2",
        "projectId": "p4usq7pbl8yhssb",
        "table": "m4v3p6j5sk0itoc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "Proposition Image",
              "fieldValue": "={{ $('NocoDB').item.json.Photo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        300,
        -40
      ],
      "id": "6d6afcc2-85f2-490e-bbdd-b31c708f0e27",
      "name": "NocoDB3",
      "credentials": {
        "nocoDbApiToken": {
          "id": "EoIUJqNCKhzLaVvR",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "NocoDB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a64eb991-333d-4365-be4d-5d0a8a638988",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fed026248e568476fe229ff7637d149c91d62bc4a96e12e3517e469936bb4c6d"
  },
  "id": "165E0744SXkw5ujb",
  "tags": []
}